<p id="notice"><%= notice %></p>
<h2>
	Category Detail
</h2>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
	<strong>
		<%= image_tag "#{@category.avatar}", style: "width:45%;" %>
	</strong>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
